body{
    text-align: center;
} 
nav{
    background-color: black;
    color: white;
    height: 0.5cm;
    padding-top: 0.25cm;
    padding-bottom: 0.25cm;
    border-radius: 2px;
    display: flex;
    justify-content: space-evenly;
}
a{
    color: yellow;
    text-decoration: none;
}
table{
    border-spacing: 0.5cm;
}
td{
    padding-left: 2cm;
    padding-right: 2cm;
}
.x{
font-weight: bold;
}
footer{
    padding-top: 5%;
}
p{
    padding: 1%;
    background-color: black;
    color: gray;
}